<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>「嫌い」の感情から「好き」の傾向を探る</h2>
          <% if logged_in? %>
            <%= link_to "アニメを検索する", new_anime_path, class: "btn btn-info btn-lg" %>
          <% else %>
            <%= link_to "ヘイトメイトを始める", signup_path, class: "btn btn-info btn-lg" %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>


<div class="text-center "><h3 class="glyphicon glyphicon-bullhorn"><%= link_to "  hatemateについて" , about_path %></h></div>

<div><h3 class="glyphicon glyphicon-th"> 最近評価されたアニメ</h3></div>

<%= render "animes/animes", animes: @animes %>