<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>「嫌い」の感情から「好き」の傾向を探る</h2>
        <a href="" class="btn btn-primary btn-lg">ヘイトメイトを始める</a>
      </div>
    </div>
  </div>
<% end %>

<p>test</p>
<p><%= link_to "説明" , about_path %></p>