<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>「嫌い」の感情から「好き」の傾向を探る</h2>
          <% if logged_in? %>
            <a href="#">検索</a>
          <% else %>
            <%= link_to "ヘイトメイトを始める", signup_path, class: "btn btn-info btn-lg" %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>test</p>
<p><%= link_to "説明" , about_path %></p>