<div class="application_content">
  <div class="header">
    <h1>hatemateの使い方</h1>
    <div class="block">世間一般で人気のあるアニメにはまらなかった経験ありませんか？</div>
    <p>すべての人にとって高評価の作品はありません。総合評価が高い作品であるほど少数派の同志がいるはず。</p>
    <p class="lead">「嫌い」を共有することは「譲れないもの」を共有すること</p>
    <p>それを利用して新しい作品に出合う。</p>
  </div>
  <h3>評価は二択です</h3>
  <h6>評価は　love / hate の二択です。極端な話、★２～４の作品に対する評価はいりません。</h6>
  <p>「イマイチ…」だと思った作品に「hate」<br>
  「一押し」だと思った作品に「love」<br>
  両極端の作品をまとめることで参考になりやすいです。</p>
  <img src="images/about(1).jpg">
  <h3>hateした作品をもとに価値観の似ているユーザを見つけよう</h3>
  <p>作品の詳細ページには評価別にユーザが一覧表示されます。<br>そこで見つけたユーザの高評価作品を参考にすることで今まで見てこなかったジャンルの作品に出会えるかもしれません。</p>
  <img src="images/about(2).jpg">

 
</div>
