@charset "utf-8";


/* body */
body {
  background: #fff;
  padding-top: 70px;
}
footer {
  margin-top: 40px;
}
textarea {
    resize: none;
    width: 300px;
    height: 30px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h2 {
  opacity: 0.7;
  margin: 10px 0 ;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.br-sp {
  display: none;
}
@media all and (max-width: 670px) {
  .cover h2 {
    font-size: 20px;
  }
 
  .br-sp {
    display: block;
  }
}

/* トップページ*/

.heading {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #5f5d60;
  opacity: 0.7;
}

.txt-contents {
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}
.item {
  margin-bottom: 40px;
}


/* search */
.search {
  margin-bottom: 20px;
}


/* anime */
.anime .panel-body {
  height: 138px;  
}
.anime .panel-heading {
  height: 180px;
}
.anime .panel-heading img {
  width: auto;
  height: 100%;
}
.anime .buttons form {
  display: inline-block;
  margin: 0 5px;
}
.anime .anime-title  {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media all and (max-width: 670px) {
  .anime .panel-body {
    height: 100%;
  }
}

/* anime詳細　*/

.anime_detail .anime-title {
  font-weight: bold;
}
.anime_detail .rating {
  color: #e0e0e0;
}
.anime_detail .buttons form {
  display: inline-block;
  margin: 30px 15px 30px;
}

